# Python cache
__pycache__
*.pyc
*.py~

# Package build data
dist/
build/
*.egg-info/

# Tests
*-failed-diff.png
.coverage

# Other
*.dill
.tox/*
.DS_Store
.python-version
*.h5

# Vim
*.swp
*.swo

# Site
site/blog/*
site/drafts/*
site/source/docs/*
site/build/*

# Examples
examples/rbfn/music_speech/data/*
