# Python cache
__pycache__
*.pyc
*.py~

# Package build data
dist/
build/
*.egg-info/

# Tests
*-failed-diff.png
.coverage

# Other
.tox/*
.DS_Store
.python-version
examples/drafts

# Site
site/blog/*
site/drafts/*
site/source/docs/*
site/build/*
