# Python cache
__pycache__
*.pyc
*.py~

# Package build data
dist/
build/
*.egg-info/

# Tests
*-failed-diff.png
.coverage

# Other
.tox/*
.DS_Store
.python-version
notebooks/.ipynb_checkpoints/*

# Storage files
*.dill
*.h5
*.pickle

# Vim
*.swp
*.swo

# Site
site/blog/*
site/drafts/*
site/source/docs/*
site/build/*

# Examples
examples/rbfn/music_speech/data/*
notebooks/caltech_101_images/*

# Pickle files important for VIN example
!examples/reinforcement_learning/vin/data/*.pickle
!examples/reinforcement_learning/vin/models/*.pickle
examples/reinforcement_learning/vin/data/gridworld-16-*.pickle
examples/reinforcement_learning/vin/data/gridworld-28-*.pickle
